@inject ICartService CartService;
@inject ISyncLocalStorageService LocalStorage;
@implements IDisposable;

@* <a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetCartItemsCount()</span>
</a> *@

<MudBadge Content="@GetCartItemsCount()" Overlap="true" Class="mx-2 my-2" Color="Color.Secondary">
    <MudLink Href="cart"><MudIconButton Icon="@Icons.Material.Filled.ShoppingCart"></MudIconButton></MudLink>
</MudBadge>

@code {

    private int GetCartItemsCount()
    {
        
        //TODO Add quantity of items when counting cart items
        var count = LocalStorage.GetItem<int>("cartItemsCount");
        return count;
    }

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}
