@inject NavigationManager NavigationManager

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
    Formi Webshop
</button>

@code {

    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
