@inject NavigationManager NavigationManager
@inject IStringLocalizer<GlobalStrings> Localizer

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
    @Localizer["Formi Webshop"]
</button>

@code {

    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
