@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> Localizer

<button @onclick="GoToHome" class="btn btn-outline-primary home-button">
    @Localizer[nameof(ResourceStrings.FormiWebshop)]
</button>

@code {

    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
