@page "/order-success"
@inject ICartService CartService
@inject IStringLocalizer<App> Localizer

<PageTitle>@Localizer[nameof(ResourceStrings.ThankYou)]!</PageTitle>

<h3>@Localizer[nameof(ResourceStrings.ThankYou)]!</h3>
<span>@Localizer[nameof(ResourceStrings.ThankYouForYourPurchase)]<a href="orders">@Localizer[nameof(ResourceStrings.Here)]!</a></span>

@code {
    protected override async Task OnInitializedAsync()
    {
        await CartService.GetCartItemsCount();
    }
}
