.media-img[b-hxf8rxs9qy] {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.media-img:hover[b-hxf8rxs9qy] {
    transform: scale(1.1);
}

.media[b-hxf8rxs9qy] {
    display: flex;
    align-items: flex-start;
}

.media-body[b-hxf8rxs9qy] {
    flex: 1;
}

.media-img-wrapper[b-hxf8rxs9qy] {
    width: 200px;
    text-align: center;
}

@media (max-width: 1023.98px) {
    .media[b-hxf8rxs9qy] {
        flex-direction: column;
    }

    .media-img-wrapper[b-hxf8rxs9qy] {
        width: 100%;
        height: auto;
    }
}